.demTable {
    align-self: center;
    border: 1px solid #b3adad;
    border-collapse: collapse;
    padding: 5px;
}

.demTable th {
    border: 1px solid #b3adad;
    padding: 5px;
    background: #f0f0f0;
    color: #313030;
}

.demTable td {
    border: 1px solid #b3adad;
    text-align: center;
    padding: 5px;
    background: #ffffff;
    color: #313030;
}